@import '../../scss/variables';
@import '../../scss/mixins';

.topnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-top: 25px;
   
   
    

    background-color: rgba(0,10,0,0.3);

    a {
        padding: 25px 20px;
        color:$col-white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: black;
        }
    }
}
.leftFloat {
    float: left;
    padding-left: 30px;
}
.rightFloat {
    float: right;
    padding-right: 30px;
}