@import '../../scss/variables';
@import '../../scss/mixins';

.footer {
    height: 165px;
    margin-top: 40px;
    color: $col-grey;
    text-align: center;
  
    small {
      padding-bottom: 30px;
      display: block;
      font-size: 18px;
    }
  
    //social logo
    .social:hover {
      color: $col-light-blue;
    }
  
  }