<section class="about-us content">
  <div class="container-about-us">
      <h2>About Us</h2>
      <div class="row">

          <div class="column-about-us">
              <div class="column-padding">
                  <div class="circle">
                      <i class="fa fa-users fa-3x about-logo"></i>
                  </div>
                  <h3>Why choose Us?</h3>
                  <p>The distance between Fort Kearney and Omaha, as the birds fly, is at most two hundred miles.
                      If the wind held good, the distance might be traversed in five hours.</p>
              </div>
          </div>

          <div class="column-about-us">
              <div class="column-padding">
                  <div class="circle">
                      <i class="fa fa-briefcase fa-3x about-logo"></i>
                  </div>
                  <h3>What we do?</h3>
                  <p>Much of this was over the heads of the boys, but they all three strove to comprehend dimly this tale of the past long gone.</p>
              </div>
          </div>

          <div class="column-about-us">
              <div class="column-padding">
                  <div class="circle">
                      <i class="fa fa-graduation-cap fa-3x about-logo"></i>
                  </div>
                  <h3>Philosophy</h3>
                  <p>Yes, a mighty change had come over the fish. All alive to his jeopardy,
                      he was going "head out"; that part obliquely projecting from the mad yeast which he brewed.</p>
              </div>
          </div>

      </div>
  </div>
</section>
