<section class="query query-background content" id="querySection">
  <div class="container-query">
      <h2>Send a Query</h2>
      <blockquote>"What was them stone houses for?" Hare-Lip queried.</blockquote>

      <form action="" method="post" id="queryForm" name="queryForm">
          <input type="text" name="title" placeholder="* Request title" class="normal-form-field">
          <input type="text" name="name_surname" placeholder="John Doe" id="name_surname" class="normal-form-field-name">
          <div class="phone-input">
              <input type="text" name="phone" placeholder="* Phone" class="normal-form-field">
          </div>
          <div class="email-input ui-widget">
              <input type="email" name="email" placeholder="* email" id="emailAutomplete" class="normal-form-field">
          </div>

          <select name="location" id="selectLocation" class="normal-form-field-select">
              <option value="0"> * Choose your location </option>
              <option value="Latvia"> Latvia </option>
            <option value="Spain"> Spain </option>
            <option value="France"> France </option>
          </select>

          <button type="submit" value="send-query" class="blue-button">Send Query</button>
      </form>

  </div>
</section>