/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/mixins';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
    width: 100%;
    margin: 0;
    font-family: $font;
    font-size: 18px;
  }

  