// Colors
$col-white: #ffffff;
$col-dark: #494e68;
$col-grey: #85919d;
$col-light-blue: #3267ca;
$col-dark-blue: #2954a5;
$col-red: #ff6262;
$col-light-red: #fbcdcd;

// Fonts
$font: 'Open Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

// Images
$header-img: url(https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f2960274a222e313ad094b2604a83d2&auto=format&fit=crop&w=1350&q=80);
$query-img: url(https://images.unsplash.com/photo-1467189386127-c4e5e31ee213?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8887240783ef88e200fa003a93edab95&auto=format&fit=crop&w=1350&q=80);
$carousel-img: url(https://images.unsplash.com/photo-1487581424120-18f3611a63e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb87a25dcd5110b903616b765084274a&auto=format&fit=crop&w=1326&q=80);

$fa-font-path : '../node_modules/font-awesome/fonts';